$primary: #3481a0;
$font-family-base: "Poppins", sans-serif;
$body-bg: #f8f9fa;

@import "bootstrap/scss/bootstrap";

// Custom styles

body {
  background-color: #edf2f7;
  font-family: "Poppins", sans-serif;
}

.me-section {
  background-color: #ffffff;
  border-radius: 0.5rem;
}

.logo {
  background-color: none;
}

img {
  max-height: 400px;
  object-fit: contain;
}

h1 {
  font-weight: 700;
}

h4 {
  margin-top: 1.5rem;
  font-weight: 600;
}
